* { 
  margin: 0; 
.box1 {
    background-color:green;
    width:30%;
    height:25px;
    float:left;
  }
  .box2 {
    background-color:blue;
    width:5%;
    height:25px;
    float:left;
  }
  
  .box3 {
    background-color:red;
    width:2%;
    height:5px;
    float:left;
  }
  
  .box4 {
    background-color:darkred;
    width:5%;
    height:2px;
    float:left;
  }
  
  .box5 {
    background-color:orangered;
    width:30%;
    height:25px;
    float:left;
  }
  .box6 {
    background-color:orchid;
    width:5%;
    height:25px;
    float:left;
  }
  
  
  
  
  
  Resources
  padding: 0; 
}